.dashboard {
  display: grid;
  grid-template-columns: 20% 80% 20%;
}

.dashboard{
    width: 100vw;
    display: grid;
    grid-template-columns: 14% 60% 24%;
    justify-content: space-between;
}
/* .navbar{
    width: 10%;
}
.mainPage{
    width: 60%;
}
.rightbar{
    width: 30%;
} */