.sign{
    height: 100vh;
    background-color: rgba(91,134 ,229 ,1);
}
h1{
    margin: 0;
    padding: 0;
}
.signincont{
    position: absolute;
    top :0vh;
    left:0vw;
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.companyname{
    background-color:rgba(171,193 ,242 ,1);
    width: 40%;
    height: 100vh;
    padding: 2%;
    text-align: center;
}
.mainsignin{
    background-color:white;
    width: 60%;
    height: 100vh;
}
/* .logo{
  margin-top: 3vh;
  width:20vw;
  margin-left: 5vw;
} */
.group{
    display: block;
    text-align: center;
    margin: 3vh;
}
.lable{
    /* background-color: green; */
}
input{
    border-style: solid;
    border-width: medium;
}
.btner{
    background-color:rgba(171,193 ,242 ,1);
    width: 200px;
    border-radius: 10%;
}
@media screen and (max-width: 600px) {
    .companyname{
display: none;
    }
    .mainsignin{
        background-color:white;
        width: 100%
    }
    .signincont{
        /* position: absolute; */
        /* top :10vh; */
        left:0vw;
        width: 100vw;
        height: 100vh;
        background-color: white;
    }

  }